@import url('https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&family=Lato&family=Roboto:ital@1&display=swap');

:root {
    --primary-color: #60E1E0;
    --secondary-color: #FF7733;
    --accent1-color: #FFF70A;
    --accent2-color: #FFFFFF;
  
    --heading-font: 'Roboto', serif;
    --paragraph-font: 'Lato', serif;
  
    --nav-background-color: #FFFFFF;
    --nav-link-color: #000000;
    --nav-hover-link-color: #FFFFFF;
    --nav-hover-background-color: #7D53DE;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

body {
    color: white;
    font-family: Konkhmer Sleokchher, Lato, Roboto;
    width: 100%;
    margin: 0;
    background-color: #2d2d2d;
}

header {
    display: grid;
    align-items: center;
    grid-template-columns: 40% 1fr;
}

header img {
    margin: 0 auto;
    width: 100%;
    max-width: 150px;
}

nav {
    font-size: 1.2rem;
    display: flex;
    margin: 0 auto;
}

header nav a {
    padding: 1rem 2rem;
    background-color: var(--accent1-color);
    color: black;
}

header nav a:hover {
    background-color: var(--nav-hover-background-color);
}

a {
    text-decoration: none;
    color: white;
}

.live {
    background-color: #5b5b5b;
    padding: 3rem;
}

.live h2 {
    text-align: center;
    font-size: 3rem;
    margin: 1rem;
}

.live p {
    text-align: center;
    font-size: 1.5rem;
}

.hero {
    text-align: center;
    display: inline-flex;
    width: 100%;
    margin: 50px 0;
    justify-content: center;
}

.location {
    margin: 0 0  0 5rem;
}

.location h2 {
    margin-top: 0;
}

h1, article {
    position: absolute;
    width: 100%;
    height: auto;
    margin: 20px auto;
    background-color: #000000;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    width: 80%;
    margin: 80px 0px auto 50px;
    background-color: #60E1E0;
    float: right;
}

.hero {
    text-align: center;
    display: flex;
    align-items: center;
}

.hero article img {
    width: 30%;
    height: auto;
    float: right;
    margin: auto;
    padding: 10px;
}

.history {
    display: grid;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    width: fit-content;
    text-align: center;
}

.history img {
    max-width: 200px;
}

.history h2 {
    width: 100%;
    margin: 0 auto;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.adventure {
    display: grid;
    align-self: center;
    width: max-content;
    margin: 5rem auto;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 1rem;
    color: white;
}

.adventure h2 {
    grid-column: 1 / 6;
    text-align: center;
}

.adventure img {
    max-width: 200px;
    height: 280px;
    border-radius: 5px 5px 0 0;
    border: #000000 solid 1px;
}

.adventure figure {
    text-align: center;
    margin: 0 10px;
    background-color: #1b1b1b;
    padding: 2rem;
    border-radius: 5px;
}

.job {
    margin: .5rem 0;
    color: #7D53DE;
    border-bottom: solid 1px white;
}

article p {
    text-align: center;
    width: 100%;
    height: auto;
}

table {
    width: 80%;
    margin: 2rem auto;

}

thead {
    color: var(--secondary-color);
}

td, th, table {
    border: solid 1px white;
    text-align: center;
    padding: 10px;
    border-collapse: collapse;
}

thead {
    border: solid 1px white;
}

.trips p {
    text-align: center;
}

footer { 
    display: flex;
    border-top: solid 1px black;
    justify-content: space-between;
}

footer p {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    margin: 5px 0;
}

footer nav {
    margin: 0 10px;
    display: flex;
}

footer a {
    margin: auto 10px;
}

footer img {
    width: 25px;
    display: inherit;
}

address p {
    text-align: center;
    font-size: 1.1rem;
    color: var(--secondary-color);
}

h4 {
    text-align: center;
    font-size: 2rem;
}

form {
    font-family: Konkhmer, Sleokchher;
    display: grid;
    align-content: center;
    width: 40%;
    margin: 2rem auto;
    text-align: left;
    border-radius: 5px;
    background-color: #1b1b1b;
    color: white;
    font-family: Lato, Roboto;
}

fieldset {
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 1fr;
    border: none;
}

label {
    font-size: 1.2rem;
    padding: .5rem 1rem .5rem 0;
    color: rgb(255, 255, 255);
}

legend {
    padding: .5rem 1rem .5rem 0;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    text-decoration: underline;
}

input, textarea, select {
    padding: 5px;
    font-size: 1rem;
}

textarea {
    resize: none;
    height: 100px;
}

button {
    padding: .5rem;
    font-size: large;
    text-align: center;
    width: fit-content;
    margin: 1rem auto;
    border-radius: 5px;
    border: none;
    background-color: rgb(128, 0, 255);
    color: white;
}

button:hover {
    background-color: rgb(94, 0, 188);
    cursor:pointer;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: .5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
    margin: .5rem 0;
    display: grid;
    text-align: right;
}