@import url('https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&family=Lato&family=Roboto:ital@1&display=swap');

:root {
    --primary-color: #60E1E0;
    --secondary-color: #FF7733;
    --accent1-color: #FFF70A;
    --accent2-color: #FFFFFF;
  
    --heading-font: 'Roboto', serif;
    --paragraph-font: 'Lato', serif;
  
    --nav-background-color: #FFFFFF;
    --nav-link-color: #000000;
    --nav-hover-link-color: #FFFFFF;
    --nav-hover-background-color: #7D53DE;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

body {
    width: 100%;
}

nav {
    font-size: 1.2rem;
    display: flex;
}

header nav a {
    padding: 10px;
    background-color: var(--accent1-color);
}

a {
    text-decoration: none;
}

.hero {
    position: relative;
    width: 80%;
    margin: 50px auto;
    display: flex;
}

h1, article {
    position: absolute;
    width: 100%;
    height: auto;
    margin: 20px auto;
    background-color: #000000;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    width: 80%;
    margin: 80px 0px auto 50px;
    background-color: #60E1E0;
    float: right;
}

.hero {
    text-align: center;
}

.hero article img {
    width: 30%;
    height: auto;
    float: right;
    margin: auto;
    padding: 10px;
}

article p {
    text-align: center;
    width: 100%;
    height: auto;
}

footer a {
    margin: auto 10px;
}

footer img {
    width: 50px;
}