* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}

nav {
    background-color: steelblue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
}

h1 {
    color: steelblue;
    text-align: center;
    border-bottom: solid 1px steelblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

aside {
    color: white;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 20rem;
    text-align: center;
}

aside h2 {
    position: relative;
    top: 3rem;
    color: black;
}

aside img {
    width: 200px;
    height: auto;
}

aside p {
    color: white;
    padding: 1rem;
}

main {
    height: auto;
    margin: 1rem;
    padding: 1.5rem;
    grid-column: 2/3;
}

main img {
    width: 150px;
    height: auto;
    padding: 5px;
    float: right;
    margin: 1rem 1rem 0;
}

p {
    padding: 0;
}

footer {
    border-top: .5px dotted;
    margin-top: 10px;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    padding: 10px;
    border: dotted 2px;
    background-color: steelblue;
}

ul a {
    text-decoration: none;
    color: white;
    margin: 5px;
}

li {
    list-style: none;
}